.benefits {
  padding: 60px 0px 60px 0px;
  @include desktop{
    padding: 94px 0px 0px 0px;
  }
   
  }
  
  .benefits__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
   
  }
  
  .benefits__item {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop{
      flex-basis: calc((100% - 90px) / 4);
    }
    
  }
  
  .benefits__title {
    margin-bottom: 10px;
  
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--header-color);
    text-align: center;
    @include tablet{
    text-align: left;
    }
  }
  
  .benefits__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
  }
  .benefits__thumb {
    width: 100%;
    background: var(--btnsortbackground);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .benefits__icon {
  }
  
 