.footer {
    background: var(--footerbackground);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-adress {
    margin-top: 20px;
  }
  
  .footer-list {
  }
  
  .list {
  }
  
  .footer-item {
    margin-top: 9px;
  }
  
  .footer-item:first-child {
    margin-top: 0;
  }
  .logo__span--white {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--mainbackdroundcolor);
  }
  
  .footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--mainbackdroundcolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--akcent);
    cursor: pointer;
  }
  }
  
  .footer-link-em {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  &:hover,
  &:focus {
    color: var(--akcent);
    cursor: pointer;
  }
  }
  
  .footer-link-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus
  {
    color: var(--akcent);
    cursor: pointer;
  }
    
  }
  .footer-link-tel:hover,
  .footer-link-tel:focus,
  .footer-link:hover,
  .footer-link:focus,
  .footer-link-em:hover,
  .footer-link-em:focus {
    color: var(--akcent);
    cursor: pointer;
  }
  .footerdiv {
    display: flex;
    align-items: baseline;
  }
  .footer-soclink {
    margin-left: 70px;
  }
  .tetx-soclink {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
  
    color: #ffffff;
  }
  .soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .soc-item {
  }
  
  .soc-link {
    // display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    // align-items: center;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    @extend %flex-center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--akcent);
    }
  }
  
  .soc-icon {
  }
  
 
  
  .follow-box {
    display: flex;
    margin-left: 93px;
    width: 570px;
    flex-direction: column;
  }
  .follow-form {
    display: flex;
    gap: 12px;
  }
  .follow-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  }
  .email-input{
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  &:hover,&:focus,&:focus-visible{
    color: #FFFFFF;
    border: 1px solid var(--avtivebackgroudbtn);
  }
  }
  .btn-follow {
  padding: 10px 24px;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border: none;
  background-color: var(--akcent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  // display: flex;
  // align-items: center;
  @extend %flex-center;
  text-align: center;
  letter-spacing: 0.06em;
  gap: 10px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover{
  background-color: var(--avtivebackgroudbtn);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  }
  
 
  .btn-folllow-icon {
  }